<!DOCTYPE html>
<html>
  <head>
    <style>
      #orders-table {
        width: 700px;
      }

      #orders-table_wrapper {
        width: 100%;
      }
      
      .accession-numbers-col {
        text-align: left;
        width: 20%;
      }

      .specimen-col {
        text-align: left;
      }

      .tests-col {
        text-align: left;
        width: 20%;
      }

      .round-btns {
        border-radius: 50%;
        height: 13vh;
        border-color: black;
        border-width: 2px;
        font-weight: bolder;
      }

      .action-imgs {
        width: 65px;
        height: 65px;
      }
     
    </style>

    <link rel="stylesheet" href="/../../assets/css/datatables/jquery.dataTables.min.css" type="text/css">

    <script type="text/javascript" src="/../../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/../../assets/js/moment.js"></script>
    
    <script type="text/javascript" src="/../../assets/js/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/../../assets/js/datatables/dataTables.fixedHeader.min.js"></script>
  </head>

  <body>
    <table id="orders-table" class="order-tables">
      <thead>
        <tr>
          <th>Accession#</th>
          <th>Test</th>
          <th>Reason for test</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
    </table>

  </body>

  <script type="text/javascript" src="../assets/js/state.js"></script>
  <script type="text/javascript">

    var tt_cancel_destination = `/views/patient_dashboard.html?patient_id=${sessionStorage.patientID}`;

    const {LAB_STATE_ID} = State;

    function fetchLabOrders(setDate){
      let url = sessionStorage.apiProtocol+ '://' + sessionStorage.apiURL + ':' 
      url += sessionStorage.apiPort + '/api/v1/lab/orders?patient_id=';
      url += sessionStorage.patientID  + "&status=ordered";
      url += "&date=" + setDate;
      dataTable.clear().draw();

      var req = new XMLHttpRequest();
      req.onreadystatechange = function () {
          if (this.readyState == 4) {
              if (this.status == 200) {
                let orders = JSON.parse(this.responseText); 
                State.update(LAB_STATE_ID, {orders})
                renderData(orders);
              }
          }
      };

      req.open("GET", url, true);
      req.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
      req.setRequestHeader('Content-type', "application/json");
      req.send(); 
    }

    function renderData(orders) {

      orders.forEach(order => {
        dataTable
          .row
          .add([
            order.accession_number,
            order.tests.map(({name}) => name).join('; <br />'),
            order.reason_for_test.name,
            addDrawBTN(order.order_id),
            addVoidBTN(order.order_id)
          ]).draw();
      });
    }

    function addDrawBTN(order_id){
      //return `<button class="round-btns" 
        //onmousedown="drawOrder('${order_id}');">Draw</button>`;
      return `<img src="/assets/images/syringe.png" 
        class="action-imgs" onmousedown="drawOrder('${order_id}');"/>`;
    }

    function addVoidBTN(order_id){
      //return `<button class="round-btns void-btns" 
        //onmousedown="voidOrder(${order_id});">X</button>`;
      return `<img src="/assets/images/delete.png" class="action-imgs" 
        onmousedown="voidOrder(${order_id});" />`;
    }

    function drawOrder(order_id){
      window.parent.location.href = `append_specimen.html?order_id=${order_id}`;
    }

    function voidOrder(order_id){
      window.parent.confirmLabOrderVoid(order_id);
    }

    function deleteOrder(order_id) {
      let url = sessionStorage.apiProtocol+ '://' + sessionStorage.apiURL + ':' 
      url += sessionStorage.apiPort + `/api/v1/lab/orders/${order_id}`;

      var req = new XMLHttpRequest();
      req.onreadystatechange = function () {
          if (this.readyState == 4) {
              if (this.status == 204) {
                console.log(order_id)
                window.parent.openOrders(event, 'Open');
              }
          }
      };

      req.open("DELETE", url, true);
      req.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
      req.setRequestHeader('Content-type', "application/json");
      req.send(); 
    }

    let dataTable;

    function initDataTable(){
      dataTable = jQuery('#orders-table').DataTable( {
        fixedHeader:    true,
        searching:      false,
        deferRender:    true,
        scrollCollapse: false,
        scroller:       false,
        lengthChange:   false,
        paging:         false,
        columnDefs: [
          {"className": "accession-numbers-col", "targets": 0},
          {"className": "specimen-col", "targets": 1},
          {"className": "tests-col", "targets": 2}
        ]
      });
    }

    function testFetch(passedDate){
      console.log(passedDate);
    }


    initDataTable();
    fetchLabOrders(sessionStorage.sessionDate);
  </script>
</html>
