<html>

<head>
  <style>
    #orders-table {
      width: 700px;
    }

    #orders-table_wrapper {
      width: 100%;
    }
    
    .accession-numbers-col {
      text-align: left;
      width: 20%;
    }

    .specimen-col {
      text-align: left;
    }

    .tests-col {
      text-align: left;
      width: 20%;
    }

  </style>

  <link rel="stylesheet" href="/../../assets/css/datatables/jquery.dataTables.min.css" type="text/css">


  <script type="text/javascript" src="/../../assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/../../assets/js/moment.js"></script>
  
  <script type="text/javascript" src="/../../assets/js/datatables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/../../assets/js/datatables/dataTables.fixedHeader.min.js"></script>

</html>

<body>

  <table id="orders-table" class="order-tables">
    <thead>
      <tr>
        <th>Accession#</th>
        <th>Specimen</th>
        <th>Test</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
  </table>

</body>

<script>
  function fetchLabOrders(setDate){
    let url = sessionStorage.apiProtocol+ '://' + sessionStorage.apiURL + ':' 
    url += sessionStorage.apiPort + '/api/v1/lab/orders';
    url += "?patient_id=" +  sessionStorage.patientID;
    url += "&date=" + setDate + "&status=drawn";

    var req = new XMLHttpRequest();
    req.onreadystatechange = function () {
        if (this.readyState == 4) {
            if (this.status == 200) {
              let orders = JSON.parse(this.responseText); 
              renderData(orders);
            }
        }
    };

    req.open("GET", url, true);
    req.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
    req.setRequestHeader('Content-type', "application/json");
    req.send(); 
}

function renderData(orders) {
  dataTable.clear();

  for(let i = 0; i < orders.length; i++){
    let accession_number = orders[i].accession_number;
    let order_date = moment(orders[i].order_date).format("DD/MMM/YYYY");
    let specimen = orders[i].specimen.name;
    let tests = orders[i].tests;
    let order_id =  orders[i].order_id;
    
    for(let t = 0; t < tests.length; t++){
      dataTable.row.add([accession_number, specimen, 
        tests[t].name, addReprintBTN(order_id)]).draw();
    }
  }

}

function addReprintBTN(order_id){
  return `&nbsp;`;
}

let dataTable;

function initDataTable(){
  dataTable = jQuery('#orders-table').DataTable( {
    fixedHeader:    true,
    searching:      false,
    deferRender:    true,
    scrollCollapse: false,
    scroller:       false,
    lengthChange:   false,
    paging:         false,
    columnDefs: [
      {"className": "accession-numbers-col", "targets": 0},
      {"className": "specimen-col", "targets": 1},
      {"className": "tests-col", "targets": 2}
    ]
  });
}

function testFetch(passedDate){
  console.log(passedDate);
}


initDataTable();
fetchLabOrders(sessionStorage.sessionDate);

</script>